extends ./layouts/master

block append page_title
  title= config.app.sitename

block append head_end_tag
  link(href=asset_path('css/frontend/index.css') rel='stylesheet')

block append content
  h1 測試的網頁
  p= testVar
  img(src=config.appenv.storage.domain + config.appenv.storage.path + '/abc.png')
  form(action='/image-upload?_csrf=' + csrfToken method='post' enctype='multipart/form-data')
    input(type='text' name='this_image_text')
    
    input(type='file' name='this_image')
    br
    i.far.fa-address-book
    input(type='submit' value='送出')

block append body_end_others
  script.
    $(function(){
    });
