input.title{
  display: inline-block;
  vertical-align: middle;
}
ul.action_list{
  margin:0 0 10px 0;
  padding:0;
  > li{
    display: inline-block;
    list-style: none;
    &:first-child{
      margin-right: 5px;
    }
  }
}
span.other_text{
  color: gray;
  font-size: 12px;
}
span.other_text_mode{
  display: block;
  color: gray;
  font-size: 12px;
  margin-top:5px;
}
input.is_draft{
  display: inline-block;
  width: 20px;
}
label.draft_label{
  margin-bottom:0;
  padding-top:5px;
  cursor: pointer;
  &.first_label{
    margin-right: 10px;
  }
}
