@import "../colors";
article.upload_block{
  p.upload_desc{
    color: $white_level_1;
    margin:0;
    padding:0;
    font-size: .875rem;
  }
  div.file_zone_parent{
    position: relative;
    span.hint{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $white_level_1;
      &.display_none{
        display: none;
      }
    }
    div.file_zone{
      position: relative;
      border-radius: 8px;
      border: 3px dashed #979797;
      height: 180px;
      margin: 0 auto;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      &.-on{
        border: 3px dashed yellow;
        box-shadow: inset 0 0 20px yellow;
      }
      @media screen and (max-width: 767px){
        height: 240px;
        max-height: 70vh;
      }

      ul.pic_list{
        margin:0;
        padding:0;
        > li{
          list-style: none;
          margin:0;
          padding:3px 0 3px 10px;
          color: $white;
          position: relative;
          border-bottom:1px solid $white_level_1;
          div.info_block{
            position: relative;
            z-index: 2;
            font-size: 0;
            span.icon_type{
              display: inline-block;
              vertical-align: middle;
              width: 100px;
              height: 50px;
              overflow: hidden;
              position: relative;
              span.-done{
                position: absolute;
                top: 2px;
                left: 2px;
                font-size: .7rem;
                background-color: black;
                color: white;
                z-index: 2;
                border-radius: 3px;
                padding: 2px 3px;
                display: none;
                &.-show{
                  display: inline-block;
                }
              }
              img.img_preview{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
              }
            }
            span.file_text{
              display: inline-block;
              margin-left:5px;
              width: calc(100% - 100px - 5px - 75px);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              vertical-align: middle;
              font-size: 1rem;
            }
            a.info_success, a.info_success_setting, a.info_remove{
              display: inline-block;
              vertical-align: middle;
              color: $white;
              text-decoration: none;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              font-size: 1rem;
              &.display_none{
                display: none;
              }
            }
            a.info_success{
              right: 10px;
            }
            a.info_success_setting{
              right: 40px;
            }
            a.info_remove{
              right: 10px;
            }
            span.info_file{
              float: right;
              background-color: red;
              color: white;
              display: inline-block;
              padding-left: 5px;
              padding-right: 5px;
              position: absolute;
              top:50%;
              transform: translateY(-50%);
              right: 5px;
              border-radius: 3px;
              font-size: .875rem;
            }
          }
          div.progress_block{
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            &.-uploading{
              background-color: #0e6123;
            }
            &.-failing{
              background-color: hsl(0, 98%, 73%);
            }
            span.percentag_text{
              position: absolute;
              display: inline-block;
              right:5px;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 3px;
              background-color: black;
              color: white;
              z-index: 3;
              padding-left: 5px;
              padding-right: 5px;
              &.-transmitting{

              }
              &.-processing{
                display: none;
              }
            }
          }
        }
      }
    }
  }

  div.or_select_file{
    margin-top:10px;
    &::after{
      content: "";
      display: block;
      clear: both;
    }
    p.or_para{
      color: $white;
      margin:0 10px 0 0;
      display: inline-block;
      vertical-align: middle;
    }
    button.upload_file{
      float: right;
      cursor: pointer;
      background: none;
      border: 0;
      padding: 5px 20px;
      background-color: #c9910d;
      color: white;
      outline: none;
      &.-disabled{
        cursor: not-allowed;
        background-color: #ccc;
      }

    }
    button.choose_file{
      border:0;
      background: none;
      color: $white;
      background-color: $orange_level_1;
      padding: 5px 20px;
      cursor: pointer;
      outline: none;
    }

    input.select_file{
      &.display_none{
        display: none;
      }
    }
  }
  div.hr{
    border: 1px solid gray;
    height: 1px;
    width: 100%;
    margin: 30px auto;
  }
  div.meta_block{
    h3.title3{
      color: white;
      font-size: 1rem;
      span.icon_span{
        display: inline-block;
        margin-left: 5px;
        position: relative;
      }
      span.icon_span:hover span.tooltip_info{
        display: inline-block;
      }
      span.tooltip_info{
        position: absolute;
        white-space: nowrap;
        background-color: #eee;
        color: black;
        font-size: .9rem;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 26px;
        padding: 5px 10px;
        font-weight: normal;
        display: none;
        &::before{
          content: "";
          display: inline-block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -6px;
          border-top: 7px solid white;
          border-right: 7px solid transparent;
          border-bottom: 0 solid yellow;
          border-left: 7px solid transparent;
        }
      }
    }
    div.block{
      font-size: 0;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
      div.left_block, div.right_block{
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        label{
          color: white;
          margin: 0;
          display: inline-block;
          width: 50px;
          vertical-align: middle;
        }
        input.meta_info, select.meta_info{
          margin: 0;
          border-radius: 5px;
          outline: none;
          height: 30px;
          line-height: 30px;
          width: calc(100% - 50px);
          border: 1px solid black;
          vertical-align: middle;
          padding: 0 5px;
        }
        span.select2-container{
          width: calc(100% - 50px) !important;
          border-radius: 5px;
          border: 1px solid black;
        }
      }
      div.left_block{
        margin-right: 10px;
        width: 50%;
      }
      div.right_block{
        width: calc(50% - 10px);
      }
    }
  }
  div.agreement{
    ul.agreement_list{
      > li{
        color: $white;
        ul.sub_agreement_list{
          > li{
            color: $white;
            font-size: 1rem;
          }
        }
      }
    }
    p.para{
      color: $white;
      font-size: 1rem;
    }
    div.action_block{
      button.btn_agree{
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}
