div.each_file{
  div.top_block{
    > a{
      display: inline-block;
      width: 100%;
      > img{
        width: 100%;
      }
    }

  }
  div.bottom_block{
    margin-top: 5px;
    padding-left:4px;
    padding-right:4px;
    a.title_link{
      color: $white;
      width: calc(100% - 52px);
      /*display: inline-block;*/

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      max-height:50px;
      &:hover{
        text-decoration: none;
      }
    }
  }

}
