@import "../colors";

header.header{
  padding: 11px 0;
  @media screen and (max-width: 767px){
    padding: 4px 0;
  }
  h1.main_title{
    display: none;
  }
  div.header_content{
    position: relative;
  }
  a.logo{
    display: inline-block;
    vertical-align: middle;
    > img{
      height: 58px;
    }
    @media screen and (max-width: 767px){
      > img{
        height: 40px;
      }
    }
  }
  div.right_block{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    button.toggle_nav{
      background: none;
      border:0;
      cursor: pointer;
      outline: none;
      display: inline-block;
      padding-right:0;
      padding-left:14px;
      @media screen and (min-width: 768px){
        display: none;
      }
      svg{
        color: $gray_level_1;
      }
    }
    div.action_block{
      text-align: left;
      @media screen and (max-width: 767px){
        display: none;
      }
      nav.action_list_nav{

      }
    }
  }
  nav.action_list_nav{
    ul.action_list{
      list-style: none;
      margin:0;
      padding:0;
      > li{
        margin:0 30px 0 0;
        padding:0;
        display: inline-block;
        @media screen and (min-width: 768px) and (max-width: 991px){
          margin: 0 15px 0 0;
        }
        &.desktop{
          @media screen and (max-width: 767px){
            display: none !important;
          }
        }
        &.mobile{
          @media screen and (min-width: 768px){
            display: none;
          }
        }
        &:last-child{
          margin:0;
        }
        span.icon_span{
          display: inline-block;
          width:30px;
          text-align: center;
          margin-right:20px;
          @media screen and (min-width:768px){
            width:auto;
            display: inline;
            margin-right:6px;
          }
          img.portrait_pic{
            width: 24px;
          }
        }
        button.btn_upload_files{
          border:0;
          background: none;
          cursor: pointer;
          font-size: 1.125rem;
          padding:0;
          svg{
            color: $gray_level_1;
          }
          &:hover{
            svg{
              color: $black;
            }
          }
        }
        > a{
          color: $black;
          font-size: 1.125rem;
          text-decoration: none;
          &.logout{
            color: $gray_level_2;
            &:hover{
              color: $black;
            }
          }
          &:hover{
            svg{
              color: $black_level_3;
            }
          }
          svg{
            color: $gray_level_1;
            position: relative;
            top:1px;
          }
          span.pic_search_txt{
            display: inline-block;
            @media screen and (min-width: 768px){
              display: none;
            }
          }
        }
      }
    }
  }
  div.mobile_nav{
    display: none;
    margin-top:4px;
    nav.action_list_nav{
      ul.action_list{
        border-bottom: 1px solid $gray_level_1;
        > li{
          margin-right:0;
          display: block;
          border-top: 1px solid $gray_level_1;
          > a, > button{
            text-align: center;
            display: block;
            padding: 16px 0;
            width:100%;
          }
        }
      }
    }
  }
}
