input.input_account{
  border:1px solid rgb(207, 207, 207);
  display: inline-block;
  padding: 6px 8px 5px;
  border-radius: 5px;
  width: 300px;
  outline:none;
}
button.account_check{
  display: inline-block;
  margin-left: 5px;
  padding: 6px 20px 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}
button.account_check:active{
  box-shadow: 1px 1px 2px 0 gray inset, -1px -1px 2px 0 gray inset;
}

span.-not-found{
  color: red;
  display: inline-block;
  margin-left: 5px;
}
span.-not-found.-show{
  display: inline-block;
}
img.w_32{
  width: 50px;
}
#data_table{
  thead{
    tr{
      th:first-child{
        width: 50px;
      }
      th:nth-child(2){
        width: 80px;
      }
      th:nth-child(3){
        width: 300px;
      }
    }
  }
}
