div.download_parent{
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  div.download_option{
    margin-right: 20px;
    &.-none{
      display: none;
    }
    input.check{
      position: relative;
      top: 1px;
      cursor: pointer;
    }
    label.check_label{
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 0;
      cursor: pointer;
    }
    input.account_text{
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 8px 4px;
      outline: none;
    }
  }
}
span.select2-container--default{
  width: 300px !important;
}
h4.title4{
  font-size: 14px;
  margin: 10px 0;
  &.-first{
    margin: 0 0 10px 0;
  }
}
button.filter_images{
  cursor: pointer;
}

span.-not-found{
  color: red;
  display: inline-block;
  margin-left: 5px;
}
span.-not-found.-show{
  display: inline-block;
}
img.w_32{
  width: 50px;
}
#data_table{
  thead{
    tr{
      th:first-child{
        width: 50px;
      }
      th:nth-child(2){
        width: 80px;
      }
      th:nth-child(3){
        width: 300px;
      }
      th:nth-child(4){
        width: 70px;
        /*padding-left: 10px !important;
        padding-right: 10px !important;
        */
      }
    }
  }
  tbody{
    tr{
      td:nth-child(4){
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}
span.-text{
  display: inline-block;
  width: 200px;
  text-align: right;
}

div.preview{
  margin-top: 50px;
  margin-bottom: 5px;
  button.custom_btn{
    cursor: pointer;
    margin-left: 10px;
    &.-disabled{
      cursor: not-allowed;
      background-color: lightgray;
    }
  }
}

ul.transfer_list{
  list-style: none;
  margin: 0;
  padding: 0;
}

label.check_all{
  margin: 0;
  display: inline-block;
  cursor: pointer;
}
input#check_all{
  margin-right: 3px;
  position: relative;
  cursor: pointer;
  top: 2px;
}
input.file_item{
  cursor: pointer;
}
