@import "../colors";
div#main{
  min-height: calc(100vh);
  background-image: linear-gradient(to bottom, #273543, #111820);
}
section.service_sec{
  padding-top: 50px;
  padding-bottom: 50px;
  div.content_block{
    div.contents{
      color: $white;
      img{
        max-width: 100%;
      }
    }
  }
}
