extends ../layouts/empty

block append page_title
  title=  '平台維護中' + ' - '+ config.app.sitename

block append head_end_tag
  link(href=asset_path('css/frontend/pages/maintain.css') rel='stylesheet')

block append content
  section.service_sec
    div.container
      div.row
        div.col.col-md-8.offset-md-2
          div.content_block
            div.contents
              p(style='text-align:center;')
                img(src=asset_path('images/img-maintain-d@2x.png') style='width: 600px;' alt=config.app.sitename title=config.app.sitename)
              p(style='font-size: 36px;color:white;text-align:center;') 網站維護中...
              p(style='font-size: 36px;color:white;text-align:center;') 請稍後再回訪
              
    


block append body_end_others
  script.
    $(function(){
      
    });
