extends ../layouts/empty

block append page_title
  title=  'BASIC AUTH' + ' - '+ config.app.sitename

block append head_end_tag
  style.
    div#main{
      background-image:none;
    }
  //-
    link(href=asset_path('css/frontend/auth/basic_auth_custom.css') rel='stylesheet')

block append content
  form(method='post' action='/basic_auth')
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='text' name='basic_username' placeholder='帳號')
    br
    input(type='password' name='basic_password' placeholder='密碼')
    br
    button(type='submit') 驗證
    
  

block append body_end_others
  script.
    $(function(){});
