form.generate_short_url_form{
  input.original_url_text{
    border-radius: 5px;
    min-width: 280px;
    box-shadow: none;
    outline: none;
    padding: 2px 5px;
    height: 32px;
    border: 1px solid #eee;
  }
  button.btn_generate{
    cursor: pointer;
    margin-left: 10px;
  }
}
table.custom_table{
  thead{
    tr{
      th{

      }
    }
  }
  tbody{
    tr{
      td{
        span.icon_qrcode{
          display: inline-block;
          margin-left: 6px;
          cursor: pointer;
        }
        input.short_url, input.original_url{
          background-color: #eee;
          border-radius: 5px;
          border:0;
          padding: 2px 5px;
          min-width: 220px;
        }
        input.original_url.edit_now{
          background-color: white;
          border: 1px solid gray;
        }
        ul.action_list{
          margin:0;
          padding:0;
          > li{
            margin:0 5px 0 0;
            padding:0;
            list-style: none;
            display: inline-block;
            &:last-child{
              margin-right:0;
            }
            button.btn_action, a.btn_action{
              padding:0;
              border:0;
              cursor: pointer;
              outline: none;
              color: black;
              text-decoration: none;
            }
            a.btn_url_on_off{
              cursor: pointer;
              border: 1px solid #f0ad4e;
              display: inline-block;
              padding: 2px 5px;
              border-radius: 4px;
              text-decoration: none;
            }
          }
        }

      }
    }
  }
}
span.icon_edit, span.icon_edit_now, span.icon_url_history{
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
  width: 14px;
  &.-none{
    display: none;
  }
}
div.url_edit_log_block{
  border: 1px solid black;
  position: relative;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, .5);
  display: none;
  z-index: 99;
  padding: 20px;
  &.-show{
    display: block;
  }
  div.edit_log_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    max-height: 600px;
    width: 800px;
    max-width: 100%;
    overflow: auto;
    span.title{
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 20px;
    }
    button.btn_remove{
      background: none;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      color: black;
      border: 0;
      line-height: 1;
      cursor: pointer;
      outline: none;
    }
    div.edit_log_content_ul{
      ul.edit_log_list{
        display: block;
        > li{
          margin-bottom: 6px;
          &:last-child{
            margin-bottom: 0;
          }
          span.left_str{
            display: inline-block;
            width: 190px;
            vertical-align: top;
            margin-right: 10px;
          }
          span.url{
            display: inline-block;
            vertical-align: top;
            word-break: break-all;
            background-color: #eee;
            width: calc(100% - 190px - 10px);
          }
        }
      }
    }
  }

}

ul.edit_log_list{
  display: none;
  margin: 0;
  padding: 0;
}

#qrcode{
  border: 1px solid black;
  position: relative;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, .5);
  display: none;
  z-index: 99;
  padding: 20px;
  &.-show{
    display: block;
  }
  div.content_block{
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    button.btn_close{
      background: none;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      color: black;
      border: 0;
      line-height: 1;
      cursor: pointer;
      outline: none;
    }
    div.download_block{
      button.qrcode_download{
        outline: none;
        width: 100%;
        padding: 8px 0 5px;
        cursor: pointer;
        font-size: 18px;
        border: 0;
      }
    }
  }
}
/*
div.paginator{
  ul.paginator_list{
    margin:0;
    padding:0;
    > li{
      display: inline-block;
      list-style: none;
      margin:0;
      padding:0;
      &:first-child{
        > a.page_link{
          border-left: 1px solid gray;
        }
      }
      > a.page_link{
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
        text-decoration: none;
        color: gray;
        &.-on, &:hover{
          background-color: #263238;
          color: white;
        }
      }
    }
  }
}
*/
