$black: hsla(0, 0%, 0%, 1);
$black_level_1: hsla(0, 0%, 0%, .9);
$black_level_2: hsla(0, 0%, 0%, .8);
$black_level_3: hsla(0, 0%, 0%, .7);
$black_level_4: #111820;

$gray_level_1: #888889;
$gray_level_2: #9b9b9b;

$white: white;
$white_level_1: hsla(0, 0%, 100%, .7);
$white_level_2: #eeeeee;

$brown: brown;
$brown_level_1: #897667;
$brown_level_2: #7c6757;

$orange: orange;
$orange_level_1: #c9910d;
