$black: hsla(0, 0%, 0%, 1);
$black_level_1: hsla(0, 0%, 0%, .9);
$black_level_2: hsla(0, 0%, 0%, .8);
$black_level_3: hsla(0, 0%, 0%, .7);
$black_level_4: #111820;
$black_level_5: hsla(0, 0%, 0%, .5);
$black_level_6: #273543;

$gray_level_1: #888889;
$gray_level_2: #9b9b9b;
$gray_level_3: #cccccc;
$gray_level_4: #dddddd;

$white: white;
$white_level_1: hsla(0, 0%, 100%, .7);
$white_level_2: #eeeeee;

$brown: brown;
$brown_level_1: #897667;
$brown_level_2: #7c6757;

$orange: orange;
$orange_level_1: #c9910d;

$blue: blue;
$blue_level_1: hsl(192, 100%, 70%);
$blue_level_2: hsl(192, 100%,30%)
