script.
  var filenames = [];
  var files_upload;
  var file_index = 0;
  var user_prepare_upload_files = [];
  var article_upload_block;
  
  var uploadProgress = function(e, filet){
    if(e.lengthComputable){
      progress_percent = parseInt((e.loaded / e.total) * 100);
      
      var li_item = $("li[data-original-filename='" + filet + "']")[0];
      $(li_item).find("div.progress_block").addClass("-uploading").animate({width: progress_percent + '%'}, 'fast');
      //$(li_item).find("div.progress_block").find("span.percentag_text.-transmitting").css("display", "inline-block");
      if(progress_percent == 100){
        $(li_item).find("div.progress_block").find("span.percentag_text.-transmitting").fadeOut();
        $(li_item).find("div.progress_block").find("span.percentag_text.-processing").css("display", "inline-block");
      }
      
    }
  };
  
  var loop_file_each = function(article_upload_block, file_item){
    var accepted_ext = ['jpg', 'jpeg', 'png', 'gif'];
    filenames = [];
    
    //for (var i = 0; i < files_arr.length; ++i) {
      var html = '';
      var file_ext = ((file_item.name).split('.').pop()).toLowerCase();
      filenames.push(file_item.name);
      
      
      html += "<li data-original-filename='" + file_item.name + "'>";
      html +=   "<div class='progress_block' style='width:0%'>";
      html +=     "<span class='percentag_text -transmitting'>傳輸中...<i class='fas fa-spinner fa-spin'></i></span>";
      html +=     "<span class='percentag_text -processing'>處理中...<i class='fas fa-spinner fa-spin'></i></span>";
      html +=   "</div>";
      html +=   "<div class='info_block'>";
      html +=     "<span class='icon_type'><i class='fas fa-file-image'></i></span>";
      html +=     "<span class='file_text'>" + file_item.name + "</span>";
      html +=     "<a class='info_success_setting display_none' href='#' target='_blank' title='設定'><i class='fas fa-cog'></i></a>";
      html +=     "<a class='info_success display_none' href='#' target='_blank' title='短網址'><i class='fas fa-link'></i></a>";
      if(!accepted_ext.includes(file_ext)){
        html +=   "<span class='info_file'>格式不符，限圖檔</span>";
      }
      html +=   "</div>";
      html += "</li>";
      
      $(article_upload_block).find("ul.pic_list").append(html);
      
      if(accepted_ext.includes(file_ext)){
        var data = new FormData();
        data.append('upload', file_item)
        data.append('permissions', '2')
        data.append('category', 1)
        
        
        $.ajax({
          url: "#{config.appenv.domain}/api/v1.0/image?api_key=#{config.appenv.full_api_key}",
          type: "POST",
          data: data,
          contentType: false,
          cache: false,
          processData:false,
          xhr: function() {
            var myXhr = $.ajaxSettings.xhr();
            var file_item_li = file_item.name;
            if(myXhr.upload){
              myXhr.upload.addEventListener('progress', function(e) {
                uploadProgress(e, file_item_li);
              }, false);
            }
            return myXhr;
          },
          statusCode: {
            403: function(data_obj) {
              $(article_upload_block).find("ul.pic_list").children("li").each(function(){
                if(data_obj.responseJSON.error.original_filename == $(this).attr("data-original-filename")){
                  $(this).find("div.progress_block").find("span.percentag_text.-processing").fadeOut();
                  $(this).find("div.progress_block").removeClass("-uploading").addClass("-failing");
                  $(this).find("div.info_block").append("<span class='info_file'>" + data_obj.responseJSON.error.message + "</span>");
                  $(this).removeAttr("data-original-filename");
                }
              });
            }
          },
          success: function(data_obj) {
            if(files_upload.length > (file_index+1)){
              file_index += 1;
              loop_file_each(article_upload_block, files_upload[file_index]);
            }
            $(article_upload_block).find("ul.pic_list").children("li").each(function(){
              if(data_obj.data.original_filename == $(this).attr("data-original-filename")){
                $(this).find("div.info_block").find("a.info_success_setting").removeClass("display_none").attr("href", '/admin/file/update/' + data_obj.data.short_id);
                $(this).find("div.info_block").find("a.info_success").removeClass("display_none").attr("href", data_obj.data.short_url);
                $(this).find("div.progress_block").find("span.percentag_text.-processing").fadeOut();
                $(this).removeAttr("data-original-filename");
              }
            })
            
          }
        });



      }
    //}
  };
  
  var loop_files = function(article_upload_block, files_arr){
    if(files_arr.length > 10){
      alert("請勿一次傳超過 10 個檔案！");
    }else{
      file_index = 0;
      files_upload = files_arr;
      loop_file_each(article_upload_block, files_arr[file_index]);
      
      $(article_upload_block).find("span.hint").addClass("display_none");
    }
  };

  $(function(){
    $("article.upload_block").find("button.choose_file").on("click", function(){
      $(this).closest("article").find("input.select_file").click();
    });

    $("article.upload_block").find("input.select_file").on("change", function(){
      article_upload_block = $(this).closest("article");
      user_prepare_upload_files = $(this).get(0).files;
      if($(this).get(0).files.length > 0){
        $("button.upload_file").removeClass("-disabled");
      }
      //loop_files(article_upload_block, $(this).get(0).files);
    });
    
    // Drag and Drop
    $('#holder').on({
      'dragover dragenter': function(e) {
          e.preventDefault();
          e.stopPropagation();
          $(this).addClass('-on');
      },
      'dragleave': function(e) {
          e.preventDefault();
          e.stopPropagation();
          $(this).removeClass('-on');
      },
      'drop': function(e) {
        $(this).removeClass('-on');
        var dataTransfer =  e.originalEvent.dataTransfer;
        if( dataTransfer && dataTransfer.files.length > 0) {
            e.preventDefault();
            e.stopPropagation();
            
            article_upload_block = $(this).closest("article");
            user_prepare_upload_files = dataTransfer.files;
            if(dataTransfer.files.length > 0){
              $("button.upload_file").removeClass("-disabled");
            }
            
            //loop_files(article_upload_block, dataTransfer.files);
        }
      }
    });
    
    // 檔案上傳按鈕
    $("button.upload_file").on("click", function(){
      if($(this).hasClass("-disabled")){
      }else{
        loop_files(article_upload_block, user_prepare_upload_files);
        $("button.upload_file").addClass("-disabled");
      }
    });
    
    $("article.upload_block button.btn_agree").on("click", function(){
      $.ajax({
        url: '#{config.appenv.domain}' + '/api-ajax/v1.0/update-agreement',
        type: 'GET',
        //data: 'ab='+ab,
        dataType: 'json',
        success: function(data){
          console.log(data);
          if(data.affectedRows == 1){
            alert("您已同意，可開始使用圖片上傳服務。");
          }else{
            alert("更新失敗");
          }
          location.reload()
        }
      });
    });
    
  });
