script.
  var filenames = [];
  $(function(){
    $("article.upload_block").find("button.choose_file").on("click", function(){
      $(this).closest("article").find("input.select_file").click();
    });
    
    var progressHandlingFunction = function(e) {
      if(e.lengthComputable){
        progress_percent = parseInt((e.loaded / e.total) * 100);
        
        $.each(filenames, function( index, filename_value ) {
          $("article.upload_block").find("ul.pic_list").children("li").each(function(){
            if(filename_value == $(this).attr("data-original-filename")){
              $(this).find("div.progress_block").addClass("-uploading").css("width", progress_percent + "%");
              $(this).find("div.progress_block").find("span.percentag_text").html(progress_percent + "%");
              if(progress_percent == 100){
                $(this).find("div.progress_block").find("span.percentag_text").fadeOut();
              }
            }
          })
        });
        
        
      }
    };


    $("article.upload_block").find("input.select_file").on("change", function(){
      var article_upload_block = $(this).closest("article");
      
      var html = '';
      var accepted_ext = ['jpg', 'jpeg', 'png', 'gif', 'pdf'];
      filenames = [];
      for (var i = 0; i < $(this).get(0).files.length; ++i) {
        var file_ext = ($(this).get(0).files[i].name).split('.').pop();
        filenames.push($(this).get(0).files[i].name);
        
        html += "<li data-original-filename='" + $(this).get(0).files[i].name + "'>";
        html +=   "<div class='progress_block' style='width:0%'>";
        html +=     "<span class='percentag_text'></span>";
        html +=   "</div>";
        html +=   "<div class='info_block'>";
        html +=     "<span class='icon_type'><i class='fas fa-file-image'></i></span>";
        html +=     "<span class='file_text'>" + $(this).get(0).files[i].name + "</span>";
        html +=     "<a class='info_success display_none' href='#' target='_blank'><i class='fas fa-link'></i></a>";
        if(!accepted_ext.includes(file_ext)){
          html +=   "<span class='info_file'>格式不符，限圖檔及PDF檔</span>";
        }
        html +=   "</div>";
        html += "</li>";
      }
      $(article_upload_block).find("ul.pic_list").prepend(html);
      $(article_upload_block).find("span.hint").addClass("display_none");

      for (var i = 0; i < $(this).get(0).files.length; ++i) {
        var file_ext = ($(this).get(0).files[i].name).split('.').pop();
        if(accepted_ext.includes(file_ext)){
          var data = new FormData();
          data.append('upload', $(this).get(0).files[i])
          data.append('permissions', '1')
          data.append('category', 1)
          
          // 圖片上傳
          $.ajax({
            url: "#{config.appenv.domain}/api/v1.0/image?api_key=#{config.appenv.full_api_key}",
            type: "POST",
            data: data,
            contentType: false,
            cache: false,
            processData:false,
            xhr: function() {
              var myXhr = $.ajaxSettings.xhr();
              if(myXhr.upload){
                myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
              }
              return myXhr;
            },
            success: function(data_obj) {
              
              $(article_upload_block).find("ul.pic_list").children("li").each(function(){
                if(data_obj.data.original_filename == $(this).attr("data-original-filename")){
                  $(this).find("div.info_block").find("a.info_success").removeClass("display_none").attr("href", data_obj.data.short_url);
                }
              })
              
            }
          });



        }
      }


    });

  });
