div.each_block.each_file
  div.top_block
    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
  div.bottom_block
    +btn_like_box(true, false, 111)
    //-
      +btn_like_box(false, false, 0)
    a(href='#' class='title_link') 圖片標題333
