footer.footer
  div.container
    div.row
      div.col
        div.footer_content
          a(href='/pages/service') 平台服務說明
          p.copyright!= config.app.sitename + ' &copy; ' + (new Date()).getFullYear()
