extends ../layouts/web-cloud

block append head_end_tag_sl
  link(href=asset_path('css/web-cloud/pages/pricing.css') rel='stylesheet')

block append content_sl
  section.section-container
    .container-fluid
      .row
        .col-sm-4
          p 得

          

  
block append body_end_others_sl
