extends ../layouts/master

block append page_title
  title= config.app.sitename

block append head_end_tag
  link(href=asset_path('css/frontend/user/login.css') rel='stylesheet')

block append content
  section.login_sec
    div.login_block
      h1.title1 帳號登入
      form.login_form(action='#' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div.input_group_block
          div.input_group
            span.icon_span: i.fas.fa-user
            input.text_input(type='text' placeholder='使用者帳號')
        div.input_group_block
          div.input_group
            span.icon_span: i.fas.fa-lock
            input.text_input(type='password' placeholder='密碼')
        div.action_block
          button.btn_submit(type='submit') 登入


block append body_end_others
  script.
    $(function(){
      
    });
