extends ../layouts/master

block append page_title
  title=  '搜尋' + ' - '+ config.app.sitename

block append head_end_tag
  link(href=asset_path('css/frontend/search/index.css') rel='stylesheet')

include ../partials/btn_like_box.pug

block append content
  section.search_sec
    div.container
      div.row
        div.col
          h1.title1 圖片搜尋
    div.container
      div.row
        div.col
          form.search_form(action='#' method='get')
            div.item_field_block
              div.top_block
                div.item_group
                  span.icon_span
                    i.fas.fa-font
                  span.span_text 輸入標題
                  input.form_group(type='text' class='search_field' name='')
                div.item_group
                  span.icon_span
                    i.fas.fa-th-large
                  span.span_text 主題分類
                  select.select_option
                    option 分類一
                    option 分類二
              div.bottom_block
                div.item_group
                  span.icon_span
                    i.fas.fa-sitemap
                  span.span_text 單位組織
                  select.select_option
                    option 單位一
                    option 單位二
                div.item_group
                  span.icon_span
                    i.fas.fa-tags
                  span.span_text 選擇標籤
                  select.select_option
                    option 標籤一
                    option 標籤二
            div.action_block
              button.btn_submit(type='submit') 開始搜尋
  
  //-
    section.no_result
      div.container
        div.row
          div.col
            p.para_desc 沒有符合此條件的檔案！
  
  section.search_result
    div.container
      div.row
        div.col
          div.sort_block
            span.sort_text_span 排序：
            ul.sort_list
              li
                a.on(href='#')
                  span.sort_text 建立時間
                  span.icon_span: i.fas.fa-sort-down
              li
                a(href='#')
                  span.sort_text 瀏覽人次
                  span.icon_span: i.fas.fa-sort
              li
                a(href='#')
                  span.sort_text 按讚數
                  span.icon_span: i.fas.fa-sort
            
      div.row
        div.col
          div.pic_block
            each i in [0, 1, 2, 3, 4]
              div.row
                div.col-12.col-sm-6.col-md-3
                  include ../partials/file.pug
                div.col-12.col-sm-6.col-md-3
                  div.each_block.each_file
                    div.top_block
                      a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                    div.bottom_block
                      +btn_like_box(false, false, 0)
                      a(href='#' class='title_link') 圖片標題圖片標題圖片標題圖片標題圖片標題圖片標題片標題片標題
                div.col-12.col-sm-6.col-md-3
                  div.each_block.each_file
                    div.top_block
                      a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                    div.bottom_block
                      +btn_like_box(false, true, '999+')
                      a(href='#' class='title_link') 圖片標題
                div.col-12.col-sm-6.col-md-3
                  div.each_block.each_file
                    div.top_block
                      a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                    div.bottom_block
                      +btn_like_box(true, true, '999+')
                      a(href='#' class='title_link') 圖片標題
  
  section.paginator_sec
    div.container
      div.row
        div.col
          div.page_content
            div.paginator
              div.left_block
                span.page_num 每頁顯示上限
                select.each_page_number
                  option 10
                  option 20
                  option 30
                  option 40
                  option 50
              div.right_block
                ul.page_list
                  each i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    li
                      if i == 0
                        a.on(href='#')
                          span.num_text= i+1
                      else
                        a(href='#')
                          span.num_text= i+1
              
              
  
          
              
    


block append body_end_others
  script.
    $(function(){
      
    });
